html, body {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#chat {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

input {
  width: 400px;
  border: 1px solid #ddd;
  height: 50px;
  padding: 0 15px;
  font-size: 18px;
  outline: none;
}

button {
  width: 400px;
  height: 50px;
  font-size: 18px;
  margin-top: 10px;
  background: #0a67be;
  text-align: center;
  line-height: 50px;
  font-weight: bold;
  color: #ffffff;
  outline: none;
}

.messages {
  width: 400px;
  height: 400px;
  margin-top: 10px;
  border: 1px solid #ddd;
  padding: 20px;
  overflow: auto;
}

.logo {
  width: 400px;
  height: 50px;
  font-size: 18px;
  background: #0d6fca;
  text-align: center;
  line-height: 50px;
  font-weight: bold;
  color: #ffffff;
  margin-top: 10px;
  outline: none;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
  background: #0a67be; 
}

::-webkit-scrollbar-thumb:hover {
  background: #075ba8; 
}