html, body {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* padding: 0 10px; */
}

input {
  width: 60%;
  border: 2px solid #908f8f;
  height: 50px;
  padding: 0 15px;
  font-size: 18px;
  outline: none;
}

button {
  width: 60%;
  height: 50px;
  font-size: 18px;
  background: #35ac70;
  text-align: center;
  line-height: 50px;
  font-weight: bold;
  color: #ffffff;
  outline: none;
}

.chat {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo {
  width: 60%;
  height: 50px;
  background: #35ac70;
  color: #ffffff;
  font-size: 18px;
  text-align: center;
  line-height: 50px;
  font-weight: bold;
}

.messages {
  width: 60%;
  height: 400px;
  border: 1px solid #ddd;
  background-color: #cfcfcfe3;
  padding: 10px;
  overflow: auto;
}

.message {
  width: 75%;
  float: right;
  text-align: right;
  font-weight: bolder;
  color: #ffffff;
  border: 3px solid #ffffff;
  background-color: #7d0bda;
  border-radius: 20px 0px 20px 20px;
  padding: 10px;
  margin: 10px 0;
}
  .m-outher {
    float: left;
    text-align: left;
    border: 3px solid #ffffff;
    background-color: #226d3b;
    border-radius: 0px 20px 20px 20px;
  }
  
.message::after {
  content: "";
  clear: both;
  display: table;
}

.avata {
  float: right;
  max-width: 40px;
  width: 100%;
  margin-left: 10px;
  margin-right: 0;
  border-radius: 50%;
}

  .a-outher {
    float: left;
    margin-left: 0px;
    margin-right: 10px;
  }

.time {
  float: right;
  color: #ffffff;
}

.t-left {
  float: left;
}

@media only screen and (max-width: 500px) {
  input {
    width: 100%;
  }

  button {
    width: 100%;
  }

  .chat {
    width: 100%;
    justify-content: unset;
    overflow: hidden;
  }

  .messages {
    width: 100%;
    height: 100%;
  }

  .logo {
    width: 100%;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
  background: #0a67be; 
}

::-webkit-scrollbar-thumb:hover {
  background: #075ba8; 
}